# === Java build artifacts ===
*.class
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# === Logs ===
*.log
hs_err_pid*

# === IDE-specific ===
*.ctxt         # BlueJ
.mtj.tmp/      # J2ME

# === Maven/Gradle output ===
target/
nbproject/